[submodule "nord/nord-vim"]
	path = nord/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
	branch = master
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
	branch = master
[submodule "vim-plug"]
	path = vim-plug
	url = git@github.com:junegunn/vim-plug.git
